@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");
* {
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}

.mytitle {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: contain;
  margin-top: 0px;
  padding-bottom: 30px;
}
.mytitle:hover {
  cursor: pointer;
}

.nav {
  gap: 80px;
}

#membersContent {
  width: 1200px;
  margin: 30px auto 0px auto;
}

.col-card {
  transition: all 0.2s linear;
}

.col-card:hover {
  transform: scale(1.2);
}
.card-img-top {
  width: 200px;
  height: 300px;
  object-fit: contain;
}
.content {
  display: none;
}

.mynewcard {
  width: 500px;
  margin: 10px auto 0px auto;
  padding: 10px;
  box-shadow: 0px 0px 3px 0px blue;
  border-radius: 5px;
}

.mynewcard .form-floating input::placeholder {
  color: #6c757d; /* 기본 placeholder 텍스트의 색상 */
}
.mynewcard .form-floating textarea::placeholder {
  color: #6c757d; /* 기본 placeholder 텍스트의 색상 */
}
.card-footer {
  text-align: center;
}

#member-image {
  height: 200px;
  object-fit: contain;
}

.addImage {
  width: 400px;
  height: 300px;
  background-color: lightgray;
  border-radius: 20px 20px / 20px 20px;
  overflow: hidden;
  margin: 0px 10px 10px 0px;
}

.inputImg {
  width: 450px;
  height: 350px;
}

.flex-container {
  display: flex;
}

.wrapper {
  text-align: center;
  flex-grow: 1;

  .image-box {
    width: 200px;
    height: 200px;
    object-fit: contain;
    display: block;
    margin: 20px auto;
  }

  .upload-btn {
    border: 1px solid #ddd;
    padding: 6px 12px;
    display: inline-block;
    cursor: pointer;

    input[type="file"] {
      display: none;
    }
  }
}

body > header {
  background-color: rgb(203, 203, 248);
}

.sns-icons {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  gap: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
}
#naver-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb-aiB9jbgLyrCyqd23-Mbp4ebdqLauh3a_TIfsFCaZA&s");
  background-size: contain;
}
#github-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-image: url("https://cdn-icons-png.flaticon.com/512/25/25231.png");
  background-size: contain;
}
#notion-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/45/Notion_app_logo.png");
  background-size: contain;
}
#google-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-image: url("https://static-00.iconduck.com/assets.00/google-icon-2048x2048-czn3g8x8.png");
  background-size: contain;
}
#card {
  width: 100%;
  height: auto;
}

.gatherImg {
  width: 85%;
  height: 85%;
  border-radius: 95px;
  padding: 0% 0% 0% 0%;
}

.gatherImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 95px;
  box-shadow: 5px 5px 10px;
}

.infoTeam {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.teamAndDonaBox {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-around;
  align-items: center;
}
.infoTeamWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.memberBody {
  color: #6f8ba4;
  margin-top: 20px;
}

.section {
  padding: 100px 0;
  position: relative;
}

.memberImg {
  width: 250px;
  height: 250px;
  object-fit: contain;
}
#memberImgGroup {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  font-weight: 900;
  font-size: 50px;
  padding-bottom: 10px;
  margin-top: 40px;
}
.introContent {
  font-size: 35px;
}
.content1 {
  padding: 5px 0px 0px 0%;
}

.member-sns-icon-group {
  position: absolute;
  right: 200px;
  bottom: -40px;
}

#member-github-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-image: url("https://cdn-icons-png.flaticon.com/512/25/25231.png");
  background-size: contain;
}
#member-blog-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/45/Notion_app_logo.png");
  background-size: contain;
}

/* About Me 
---------------------*/
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}
.about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}
.about-text p {
  font-size: 18px;
  max-width: 450px;
}
.about-text p mark {
  font-weight: 600;
  color: #20247b;
}

.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: #20247b;
  font-weight: 600;
  width: 100px;
  margin: 0;
  position: relative;
}
.about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background: #20247b;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}
.about-list p {
  margin: 0;
  font-size: 15px;
}

@media (max-width: 1000px) {
  .about-avatar {
    margin-top: 30px;
  }
}

/* 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* 부모 화면 회색 처리 */
}

.container {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* 모달창에서 닫기 버튼 생성 필요 */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.media .txtarea {
  white-space: pre-wrap;
}
