@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");
* {
  font-family: "Gowun Batang", serif;
  font-style: normal;
}

/************************   Head  ************************/
.sns-icons {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  gap: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
}
#naver-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb-aiB9jbgLyrCyqd23-Mbp4ebdqLauh3a_TIfsFCaZA&s");
  background-size: contain;
}
#github-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1pt solid white;
  background-image: url("https://toppng.com/uploads/preview/github-logo-png-11659780076mpcdukkst7.png");
  background-size: contain;
}
#notion-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: white;
  background-image: url("https://cdn.iconscout.com/icon/free/png-512/free-notion-2296040-1911999.png?f=webp&w=512");
  background-size: contain;
}
#google-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  background-image: url("https://static-00.iconduck.com/assets.00/google-icon-2048x2048-czn3g8x8.png");
  background-size: contain;
}
.mytitle {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: contain;
  margin-top: 0px;
  padding-bottom: 30px;
  color: rgba(245, 136, 46, 0.849);
}
.mytitle:hover {
  cursor: pointer;
}
/************************   Body > Header   ************************/
body > header {
  background-color: rgb(78, 77, 77);
}
.nav {
  gap: 80px;
  font-size: 14pt;
}
/************************   Body > Main > team-content  ************************/
.team-image {
  width: 50%;
  height: 85%;
  border-radius: 95px;
  margin: 70px 0px 50px 100px;
}
.team-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 95px;
  box-shadow: 5px 5px 10px;
}
.team-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  color: white;
  width: 50%;
  margin-left: 50px;
  padding-left: 100px;
}
.team-info-content {
  padding: 5px 0px 0px 0px;
}
.team-introduce {
  font-weight: 900;
  font-size: 30px;
  margin-top: 20px;
}
.team-introduce-content {
  font-size: 23px;
}

/************************   Body > Main > members-content ************************/
#members-content {
  width: 1200px;
  margin: 30px auto 0px auto;
}
#member-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.col-card {
  width: 200px;
  transition: all 0.2s linear;
}
.col-card:hover {
  transform: scale(1.2);
}
.card-img-top {
  height: 350px;
  object-fit: cover;
}
.card-footer {
  height: 40px;
  /* background-color: black;
  color: white; */
  background-color: transparent;
  color: black;
  font-size: 12pt;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: none;
}
/************************   Body > Main > members-content > modal-window ************************/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); /* 부모 화면 회색 처리 */
}
.modal-container {
  display: flex;
  justify-content: row;
  background-color: white;
  margin: 15% auto;
  padding: 30px;
  border: 1px solid black;
  border-radius: 5px;
  min-height: 350px;
  width: 70%;
}
.row-data {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 10px;
}
.col-left {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.row-left {
  width: 30%;
  color: #6c757d;
}
.row-left-left {
  width: 20%;
}
.row-right {
  width: 70%;
}
.image-container {
  margin-right: 70px;
  width: 300px;
  height: 400px;
  position: relative;
}
.image-container img {
  width: 250px;
  height: 350px;
  position: absolute;
  right: 0;
  object-fit: cover;
}
.image-footer {
  position: absolute;
  right: 0;
  bottom: 0;
}
#member-github-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: white;
  background-image: url("https://cdn-icons-png.flaticon.com/512/25/25231.png");
  background-size: contain;
}
#member-blog-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: white;
  background-image: url("https://w7.pngwing.com/pngs/254/281/png-transparent-social-media-blogger-computer-icons-logo-blog-text-logo-social-media.png");
  background-size: contain;
}
.button-group {
  position: absolute;
  right: 0;
  top: 0;
}
#edit-button {
  border-radius: 50%;
}
#delete-button {
  border-radius: 50%;
}
#close-modal {
  border-radius: 50%;
}

/************************   Body > Main > Join (newcard.html) ************************/
.register-form {
  width: 495px;
  margin: 10px auto 0px auto;
  padding: 10px;
  box-shadow: 0px 0px 3px 0px blue;
  border-radius: 5px;
}
.register-form .form-floating input::placeholder {
  color: #6c757d; /* 기본 placeholder 텍스트의 색상 */
}
.register-form .form-floating textarea::placeholder {
  color: #6c757d; /* 기본 placeholder 텍스트의 색상 */
}
.flex-container {
  display: flex;
}
.wrapper-image-upload {
  text-align: center;
  flex-grow: 1;

  #image-box {
    width: 200px;
    height: 200px;
    object-fit: contain;
    display: block;
    margin: 20px auto;
  }

  .upload-btn {
    border: 1px solid #cac8c8;
    padding: 6px 12px;
    display: inline-block;
    cursor: pointer;

    input[type="file"] {
      display: none;
    }
  }
}
/************************   Body > Main > news-content ************************/
#news-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 0px;
  gap: 10px;
}
.news-item {
  width: 1000px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.news-item:hover {
  cursor: pointer;
  border: 1px solid rgba(245, 136, 46, 0.849);

  .news-title {
    color: rgba(245, 136, 46, 0.849);
  }
  .news-text {
    color: white;
  }
}
.news-title {
  color: white;
}
.news-text {
  color: grey;
}
