@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");
* {
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}

.mytitle {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* 밤양갱이미지 */
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgsklthp1tSNy-mnv-r6mmcUcLaRe8eF05Hg&s"); */
  background-position: center;
  background-size: contain;
  margin-top: 0px;
  padding-bottom: 30px;
}

#membersContent {
  width: 1200px;
  margin: 30px auto 0px auto;
}

.content {
  display: none;
}

.mynewcard {
  width: 500px;
  margin: 10px auto 0px auto;
  padding: 10px;
  box-shadow: 0px 0px 3px 0px blue;
  border-radius: 5px;
}

.mynewcard .form-floating input::placeholder {
  color: #6c757d; /* 기본 placeholder 텍스트의 색상 */
}

.card-footer {
  text-align: center;
}

#member-image {
  height: 200px;
  object-fit: contain;
}

.addImage {
  width: 400px;
  height: 300px;
  background-color: lightgray;
  border-radius: 20px 20px / 20px 20px;
  overflow: hidden;
  margin: 0px 10px 10px 0px;
}

.inputImg {
  width: 450px;
  height: 350px;
}

.flex-container {
  display: flex;
}

.wrapper {
  text-align: center;
  flex-grow: 1;

  .image-box {
    width: 200px;
    height: 200px;
    object-fit: contain;
    display: block;
    margin: 20px auto;
  }

  .upload-btn {
    border: 1px solid #ddd;
    padding: 6px 12px;
    display: inline-block;
    cursor: pointer;

    input[type="file"] {
      display: none;
    }
  }
}

body > header {
  background-color: rgb(203, 203, 248);
}

.sns-icons {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  gap: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
}
#naver {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb-aiB9jbgLyrCyqd23-Mbp4ebdqLauh3a_TIfsFCaZA&s");
  background-size: contain;
}
#github {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-image: url("https://cdn-icons-png.flaticon.com/512/25/25231.png");
  background-size: contain;
}
#notion {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/45/Notion_app_logo.png");
  background-size: contain;
}
#google {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-image: url("https://static-00.iconduck.com/assets.00/google-icon-2048x2048-czn3g8x8.png");
  background-size: contain;
}
#card {
  width: 100%;
  height: auto;
}
